# Empêche l'accès direct aux fichiers sensibles
<FilesMatch "\.(sqlite|sqlite-wal|sqlite-shm|md)$">
    Require all denied
</FilesMatch>

<Files "config.php">
    Require all denied
</Files>
<Files "config.example.php">
    Require all denied
</Files>

# Page d'accueil par défaut
DirectoryIndex index.php
